<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <h1 class="display-4">Start new... Today!</h1>
                <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.
                </p>
            </div>
            <div class="col-md-4 col-sm-12">
                <img class="image" src=".. /../../../../assets/images/support.png" />
            </div>
        </div>

    </div>
</div>


