.display-4, .products {
  margin-top: 10% !important;
}
.image {
  width: 100%;
  height: auto;
}
.jumbotron-fluid {
    background-color: transparent !important;
}

.header-h3 {
    text-align: center;
}
