.product{
	width: 280px;
    align-self: center !important;
    text-align: center !important;
}
.btn-product{
	width: 100%;
    margin-bottom: .5em;
}
.products {
    border: 1px solid lightgrey;
    // margin: .2em;
    padding: .2em;
    margin-bottom: 1em;
}
.container {
    margin-top: 2em;
    margin-bottom: 2em;
}